apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask
  namespace: default
spec:
  replicas: 4
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: "{{ docker_hub_username }}/flask-app:latest"
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: SERVER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        envFrom:
        - configMapRef:
            name: flask-config
        - secretRef:
            name: flask-secret